# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# Local envs
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Cache / Huggingface
.cache/
.pytest_cache/
tests_output.txt

# Docker config
Dockerfile
.dockerignore
